/* aplicado para toda la pagina del catalogo del salinerito*/

#catalogo {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.producto { /*box-shadow aplica una sombra a los bordes de un elemento*/
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
}

.producto h3 {
    color: #5a2c21;
}

.producto p {
    color: #333;
}

.producto button { /*cursor: cambia el estilo del cursor del mouse cuando este pasa sobre un elemento en una página web.*/
    background-color: #5a2c21;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.producto button:hover {
    background-color: #3e1e14;
}