/* aplicado para toda la pagina del carrito de compra del salinerito*/

nav {
    background-color: #3e1e14;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 100px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}
header {
    background-color: #5a2c21;
    color: white;
    padding: 20px;
    text-align: center;
}
header img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 15px;
    
}